* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1f1f1f, #222831);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 420px;
  background: #31363F;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,.4);
}

.title {
  text-align: center;
  font-size: 22px;
  color: #edf1f3;
  margin-bottom: 10px;
  font-weight: 600;
}

.chat {
  height: 380px;
  overflow-y: auto;
  background: #222831;
  padding: 10px;
  border-radius: 10px;
}

/* MESSAGE LAYOUT */
.message {
  display: flex;
  margin: 10px 0;
}

.user {
  justify-content: flex-end;
}

.bot {
  justify-content: flex-start;
}

/* WHATSAPP STYLE BUBBLE */
.bubble {
  max-width: 70%;
  padding: 8px 12px 16px;
  border-radius: 12px;
  position: relative;
}

.user .bubble {
  background: #4a4d52;
  border-bottom-right-radius: 0;
}

.bot .bubble {
  background: #8c8c8e;
  border-bottom-left-radius: 0;
}

.text {
  font-size: 14px;
  color: white;
}

/* TIMESTAMP */
.time {
  font-size: 10px;
  color: #e0e0e0;
  position: absolute;
  bottom: 4px;
  right: 8px;
}

/* INPUT AREA */
.input-area {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* BUTTONS */
button {
  border: none;
  outline: none;
  background: #5c6bc0;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

/* MIC EFFECT */
#mic:hover {
  box-shadow: 0 0 0 3px cyan;
}

#mic.active {
  background: #e53935;
  box-shadow: 0 0 0 3px cyan;
}

button:hover {
  background: #3f51b5;
}
