* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.number-hours {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.number-hours span {
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    inset: 6px;
    text-align: center;
}

.number-hours span p {
    font-size: 52px;
    color: #0ef;
    text-shadow: 0 0 10px #0ef;
    transform: rotate(calc(var(--index) * -30deg));
}

.hands-box {
    position: relative;
}

.hands-box .hours {
    width: 320px;
    height: 320px;
    border: 2px solid red;
}

.hands-box .minutes {
    width: 450px;
    height: 450px;
    border-radius: 2px solid yellow;
}

.hands-box .seconds {
    width: 480px;
    height: 480px;
    border-radius: 2px solid white;
}