* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f3ff;
    width: 100%;
    height: 100vh;
}

.searchBox {
    width: 22rem;
    height: 55px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    cursor: grab;
    opacity: 0;
    transform: scale(0.9) translateY(20px);
    animation: loadSearch 0.6s ease-out forwards;
}

@keyframes loadSearch {
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.icon {
    font-size: 22px;
    color: #555;
    cursor: pointer;
}

#input {
    background: transparent;
    border: none;
    width: 80%;
    font-size: 18px;
    padding: 5px;
}

#input:focus {
    outline: none;
}

@media (max-width: 430px) {
    #input::placeholder {
        font-size: 1rem;
    }
}
