body {
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f1;
}

#card_bx {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    padding: 20px;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.front-view, .back-view {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    background: #fff;
}

.back-view {
    transform: rotateY(180deg);
}

.back-view img {
    width: 100px;
    height: 100px;
}

.card.active {
    transform: rotateY(180deg);
}
