* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    background: url() no-repeat center center / cover;
}

body::after {
    content: 'By ME';
    font-size: 1rem;
    color: #aaa;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}

.fifa-player-card {
    position: relative;
    width: 300px;
    height: 485px;
    background-image: url();
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;
}

.fifa-player-card .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}

.fifa-player-card .player-card-top .player-master-info {
    position: absolute;
    line-height: 2.2rem;
    font-weight: 300;
    padding: 1.5rem 0;
    text-transform: uppercase;
}

