* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}

.button-option {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #d161ff;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart {
  font-size: 1.3em;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popup {
  background: linear-gradient(135deg, #8052ec, #d161ff);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 10vmin;
}

#new-game {
  font-size: 0.5em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

#message {
  color: #ffffff;
  text-align: center;
}

.popup.hide {
  display: none;
}
