* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: #2f363e;
}

.drag,
.board {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.piece,
.drop {
    width: 100px;
    height: 100px;
    background-color: #0003;
}

.piece {
    background-image: url("man.jpg"); 
    background-size: 300px 300px;
    cursor: grab;
}

#p1 { background-position:   0px   0px; }
#p2 { background-position: -100px   0px; }
#p3 { background-position: -200px   0px; }

#p4 { background-position:   0px -100px; }
#p5 { background-position: -100px -100px; }
#p6 { background-position: -200px -100px; }

#p7 { background-position:   0px -200px; }
#p8 { background-position: -100px -200px; }
#p9 { background-position: -200px -200px; }

.reset {
    position: absolute;
    bottom: 30px;
    padding: 12px 20px;
    border: none;
    background: #fff;
    cursor: pointer;
}
