* {
    margin: 0;
    padding: 0;
    font-family: ;
    box-sizing: border-box;
}

body {
    background: #1e1f21;
    color: #fff;
}

.wrapper {
    padding: 10px 10%;
}

#card-area {
    padding: 50px 0;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
}